$primary: #635880;
$secondary: #45636b;
$accent: #d0c3f1;

$dark: #1c1b1e;
$dark-page: #121212;

$positive: #5a6859;
$negative: #ff6b81;
$info: #ceeef8;
$warning: #fef1ab;

$palette-purple: #d0c3f1;
$palette-green: #e9f9e5;
$palette-blue: #ceeef8;
$palette-pink: #ffd7ee;
$palette-yellow: #fef1ab;
